body{
    font-size: 18px;
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.logo{
    margin-left: 40px;
}
.menu{
    display: flex;
}

.story1{
   background:linear-gradient(to top,
   rgba(20, 20, 20, 0) 80%,
   rgba(20, 20, 20, 0.25) 85%,
   rgba(20, 20, 20, 0.5) 90%,         
   rgba(20, 20, 20, 0.75) 95%,
   rgba(20, 20, 20, 1) 100%),
   linear-gradient(rgba(20, 20, 20, 0) 80%,
   rgba(20, 20, 20, 0.25) 85%,
   rgba(20, 20, 20, 0.5) 90%,         
   rgba(20, 20, 20, 0.75) 95%,
   rgba(20, 20, 20, 1) 100%),
   url("../image/main.jpg");
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   
}
.bg{ background-color:rgba(0, 0, 0, 0.5); 
    width:100%; height:100vh; position: absolute; 
    }

.member{
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 1%;
    margin-left:  35%;
    margin-right: 35%;
    color:white;
    position: relative;
    text-align: center;
}
.membertitle{
    text-align: left;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 5%;
    font-size: 1.8em;
    font-weight: 900;
}
#input1{
    color : white;
    background-color: #333333;
    height: 50px;
    width: 70%;
    border: 1px solid #333333;
    border-radius: 4px;
    vertical-align: middle;
    font-size:0.8em;
    outline:none;
    margin: 2%;
}

#input2{
    color : white;
    background-color: #333333;
    height: 50px;
    width: 70%;
    border: 1px solid #333333;
    border-radius: 4px;
    vertical-align: middle;
    font-size:0.8em;
    outline:none;
    margin: 2%;
}
#input3{
    color: white;
    background-color: red;
    height: 50px;
    width: 70%;
    border: 1px solid red;
    border-radius: 4px;
    vertical-align: middle;
    font-size:1em;
    outline:none;
    margin: 2%;
}

.enter1{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content:space-between;
    font-size: 0.75em;
}
input[id="cb1"] {
	display: none;
}
input[id="cb1"] + label {
    color :#737373;
    background-color: #737373;
	width: 18px;
	height: 18px;
	border: 2px solid #737373;
    border-radius: 4px;
}
input[id="cb1"]:checked + label {
    font-weight: 900;
    color:rgba(0, 0, 0, 0.5);
	background-color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.bottom{
    color:gray;
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.bottomtable{
    font-size: 0.7em;
    margin-top: 0.5%;
    margin-bottom: 3%;
}
.bottomlanguage{
    font-size: 0.9em;
    border: 1px solid ;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 3%;
    padding: 10px 5px 0px 5px;
    height: 50px;
    width: 12%;
}
.bottomlast{
    font-size: 0.65em;
}




